if typeof errors != 'undefined'
    each error in errors
        .alert.alert-warning.alert-dismissible.fade.show(role='alert')
            =error.msg
        button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true')

if success_msg != ''
    =success_msg

if error_msg != ''
    =error_msg 

if error != ''
    =error 