extends layout

block content
    h1.display-2.m-5 
        =book.feTitle
    p.lead.m-5 
        =book.feQuotation
    br
    img.bookPicture.m-5(src="/img/"+book.feImage, alt="")       
    p.m-5.font-weight-bold Author: 
    p.m-5
        =book.feAuthor
    p.m-5.font-weight-bold Number of pages: 
    p.m-5
        =book.feNbPages
    p.m-5.font-weight-bold Publication year: 
    p.m-5
        =book.fePublication
    p.m-5.font-weight-bold Type: 
    p.m-5
        =book.feType
    p.m-5.font-weight-bold Synopsis: 
    p.m-5
        =book.feSynopsis
    div.myButtons
        a.btn.display-3.m-5(href='/book/update/'+book._id) Update
        a.btn.display-3.m-5(href='/book/delete/'+book._id) Delete
