extends layout

block content
    h1.display-2.m-5 Discover or rediscover the world of Harry Potter !
    br
    p.lead.m-5 “Oh, HONESTLY, don't you two read?”
    a#addBook.btn.display-3.m-5(href='/new') Add a book
    
    div.containerBook
        each book in books
            div.oneBook.mx-5
                div.lien(title= book.feSynopsis)
                    a(href='/book/'+book._id)
                        img.bookPicture.m-5(src="/img/"+book.feImage, alt="Harry Potter book")                  
                        i.fas.fa-arrow-circle-right.fa-3x
                p.display-3
                    =book.feTitle
                p.font-weight-bold Author: 
                p
                    =book.feAuthor
                p.font-weight-bold Number of pages: 
                p
                    =book.feNbPages
                p.font-weight-bold Publication year: 
                p
                    =book.fePublication
                p.font-weight-bold Type: 
                p
                    =book.feType
