extends layout

block content

    h1.display-2.m-5 Feel free to contact us
    br
    p.lead.m-5 “Fear of a name increases fear of the thing itself.”
    div.contact
        div#infos
            p.m-5.font-weight-bold Harry Potter's Library
            p.m-5.font-weight-bold Address:
            p.m-5 Harry Potter's Library, Covent Garden, London WC2E
            p.m-5.font-weight-bold Phone number:
            p.m-5 07987654321
            p.m-5.font-weight-bold Email:
            p.m-5 harrypotterlibrary@hp.co.uk
        div#map
            iframe.m-5(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.060072898467!2d-0.12617834843884274!3d51.51211387953587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604cc9188694f%3A0x388b51ab073ca62!2sCovent+Garden!5e0!3m2!1sfr!2sfr!4v1554116897442!5m2!1sfr!2sfr', style='border:0', allowfullscreen='', width='600', height='450', frameborder='0')
