extends layout

block content
    h1.display-2.m-5 Welcome      
    h2.display-3.m-5 
        =user.name
    br
    p.lead.m-5 "We’ve all got both light and dark inside us. What matters is the part we choose to act on. That’s who we really are."
    p.m-5 Dashboard
    a.btn.display-3.m-5(href='/user/logout') Logout