extends layout

block content
    h1.display-2.m-5 Book deleted
    br
    p.lead.m-5 “There is no good and evil, there is only power and those too weak to seek it.”
    br
    p.m-5 The book has been deleted from the bookstore.