extends layout

block content
    div#slogan 
        p.display-2 "Words are, in my not-so-humble opinion, our most inexhaustible source of magic."
        a.btn.display-3.m-5(href='/book/all') Discover
    h1.display-2.m-5 Best place to find a large choice of Harry Potter's books ! 
    p.lead.m-5 “There will be books written about Harry. Every child in the world will know his name.” 
    p.m-5 Who hasn't heard of our favorite wizard?! 
    p.m-5 Millions of books sold, acclaimed films, a dedicated theme park... Harry Potter unleashes crowds and passions. 
    p.m-5 Our bookstore offers you the best books about it.
    p.m-5 Enjoy your visit! 
    a.btn.display-3.m-5(href='/user/register') Register
    
