<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(description="blablabla")
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
        link(rel='stylesheet', href='/css/main.css')
        link(href='https://fonts.googleapis.com/css?family=Special+Elite', rel='stylesheet')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
        title Harry Potter's Library
    body
    header
        img#pictureHeader(src="/img/logo_bookstore.png", alt="logo")
        small.text-header.display-1.m-5 Harry Potter's Library 
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            a.navbar-brand(href='/') Harry Potter's Library
            #navbarNavAltMarkup.collapse.navbar-collapse
            .navbar-nav
                a.nav-item.nav-link.px-4(href='/') Home 
                a.nav-item.nav-link.px-4(href='/book/all') All the books
                a.nav-item.nav-link.px-4(href='/new') Add a book
                a.nav-item.nav-link.px-4(href='/contact') Contact
                a.nav-item.nav-link.px-4(href='/user/login') Log in
                a.nav-item.nav-link.px-4(href='/user/register') Register
    block content

    div#socialBar
        a(href='https://fr-fr.facebook.com/harrypottermovie/' target='_blank')
            i.fab.fa-facebook-f.fa-3x
        a(href='https://twitter.com/harrypotterfilm' target='_blank') 
            i.fab.fa-twitter.fa-3x
        a(href='https://www.instagram.com/harrypotterfilm/?hl=fr' target='_blank') 
            i.fab.fa-instagram.fa-3x
        a(href='https://www.youtube.com/user/HarryPotter' target='_blank')
            i.fab.fa-youtube.fa-3x
    footer
        p#copyright.display-3 © 2019, Floriane Ettwiller
    