extends layout

block content
    h1.display-2.m-5 Log in
    br
    p.lead.m-5 “I am what I am an’ I’m not ashamed”
    br
    include ./partials/messages.pug
    form(action='/user/login', method='post')
        .form-group.m-5
            label.display-3(for='name') Name
            input.form-control(type='text', name='name', placeholder="Enter Name")
        .form-group.m-5
            label.display-3(for='password') Password
            input.form-control(type='password', name='password', placeholder="Enter Password")
        button.btn.display-3.m-5(type='submit') Login
    div#register
        h2.display-3.m-5 No Account? 
        a.btn.display-3.m-5(href='/user/register') Register
    