extends layout

block content
    h1.display-2.m-5 Share your good books about our favorite wizard !
    br
    p.lead.m-5 “Nothing more or less than the deepest, most desperate desire of our hearts.” 
    br
    form(action='/new', method='post')
        .form-group.m-5
            label.display-3(for='feTitle') Title
            input.form-control(type='text', name='feTitle')
        .form-group.m-5
            label.display-3(for='feQuotation') Quotation
            input.form-control(type='text', name='feQuotation')
        .form-group.m-5
            label.display-3(for='feAuthor') Author
            input.form-control(type='text', name='feAuthor')
        .form-group.m-5
            label.display-3(for='feNbPages') Number of pages
            input.form-control(type='number', name='feNbPages')
        .form-group.m-5
            label.display-3(for='fePublication') Publication date
            input.form-control(type='number', name='fePublication')
        .form-group.m-5
            label.display-3(for='feType') Book type
            input#type.form-control(type='text', name='feType')
        .form-group.m-5
            label.display-3(for='feSynopsis') Synopsis
            textarea.form-control(name='feSynopsis', rows='3')
        button.btn.display-3.m-5(type='submit') Save your book

