extends layout

block content
    h1.display-2.m-5 Register
    br
    p.lead.m-5 “Things we lose have a way of coming back to us in the end, if not always in the way we expect”
    include ./partials/messages.pug
    form(action='/user/register', method='post')
        .form-group.m-5
            label.display-3(for='name') Name
            input.form-control(type='text', name='name', placeholder="Enter your Name")
        .form-group.m-5
            label.display-3(for='email') Email
            input.form-control(type='email', name='email', placeholder="Enter your Email")
        .form-group.m-5
            label.display-3(for='password') Password
            input.form-control(type='password', name='password', placeholder="Enter your Password")
        
        .form-group.m-5
            label.display-3(for='password2') Confirm Password
            input.form-control(type='password', name='password2', placeholder="Confirm your Password")
        button.btn.display-3.m-5(type='submit') Register
    div#register
        h2.display-3.m-5 Have an Account? 
        a.btn.display-3.m-5(href='/user/login') Login