extends layout

block content
    h1.display-2.m-5 You made a mistake ?
    br
    p.lead.m-5 "It takes a great deal of bravery to stand up to our enemies, but just as much to stand up to our friends."
    br
    form(action='/book/update/'+book._id, method='post')
        .form-group.m-5
            label.display-3(for='feTitle') Title
            input.form-control(type='text', name='feTitle', value= book.feTitle)
        .form-group.m-5
            label.display-3(for='feQuotation') Quotation
            input.form-control(type='text', name='feQuotation', value= book.feQuotation)
        .form-group.m-5
            label.display-3(for='feAuthor') Author
            input.form-control(type='text', name='feAuthor', value= book.feAuthor)
        .form-group.m-5
            label.display-3(for='feNbPages') Number of pages
            input.form-control(type='number', name='feNbPages', value= book.feNbPages)
        .form-group.m-5
            label.display-3(for='fePublication') Publication date
            input.form-control(type='number', name='fePublication', value= book.fePublication)
        .form-group.m-5
            label.display-3(for='feType') Book type
            input.form-control(type='text', name='feType', value= book.feType)
        .form-group.m-5
            label.display-3(for='feSynopsis') Synopsis
            textarea.form-control(name='feSynopsis',rows='3')
                =book.feSynopsis
        button.btn.display-3.m-5(type='submit') Save your book

