* {
    margin: 0;
    padding: 0;
}


header {
    background-color: black;
    width : 100%;
}
#pictureHeader {
    width: 25%;
}
.text-header{
    text-align: center;
    color: goldenrod;
    font-family: 'Special Elite', cursive;
}

nav, a.navbar-brand {
    font-size: 1.5em;
}

div#slogan {
    background-image: url('../img/bookshell.jpg');
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
#slogan p {
    text-align: center;
    color: white;
    text-shadow: 4px 4px 2px black;
    font-family: 'Special Elite', cursive;
    font-size: 4em;
    font-weight: bold;

}
#slogan a:hover {
    color: goldenrod;
    background-color: white;
}


.navbar-nav:hover .nav-link:hover {
        color: goldenrod;
    }

/* Mise en forme de la liste des livres */
.bookPicture {
    width: 200px
}
.containerBook {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.oneBook {
    width: 25%;  
}
.lien a {
    color: rgb(52, 58, 64);
}
.lien a:hover {
    color: goldenrod;
}
.lien p.text {
    display: none;
}
.lien p.text .bookPicture:hover {
    display: block;
}

/* formulaire */
form {
    background-color: rgb(52, 58, 64);
    width: 75%;
    margin: auto;
    padding-top: 1%;
    border-radius: 1%;
    margin-bottom: 2%;
}
label {
    color: white;

}
.display-3 {
    font-size: 2em;
}
.btn {
    background-color: goldenrod;
    color: white;
}
.btn:hover {
    background-color: white;
    color: goldenrod;
    border: 2px solid goldenrod;
}

/* social bar */
#socialBar {
    background-color: rgb(52, 58, 64);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}
a i.fab{
    color: rgba(255,255,255,.5);
}
a i.fab:hover{
    color: goldenrod;
}

/* page login */
#register {
    display: flex;
    justify-content: center;
}

/* page contact */
.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#infos {
    width: 40%;
}
#map {
    align-items: center;
}

footer {
    background-color: black;
    color: white;
    height: 100px;
    text-align: center;
}

#copyright {
    padding-top: 1%;
}

/* MEDIA QUERIES */

@media (max-width: 1570px) { 
    .text-header{
        font-size: 3em;
    }
}

@media (max-width: 1200px) { 
    .contact {
        flex-wrap: wrap;
        justify-content: center;
    }
    #infos {
        width: 80%;
    }
    .oneBook {
        width: 100%;  
    }
}

@media (max-width: 850px) { 
    .text-header{
        font-size: 2em;
    }
    .display-2 {
        font-size: 2em;
    }
    .display-3 {
        font-size: 1.5em;
    } 
    iframe {
        width: 80%;
    }
}

@media (max-width: 800px) { 
    .text-header{
        font-size: 2em;
    }
    div#slogan {
        display: none;
    }
    iframe {
        width: 80%;
    }
}

@media (max-width: 590px) { 
    .text-header{
        font-size: 1.5em;
    }
}